<%= form_with(model: @event) do |form| %>
  <div class="mb-3">
    <%= form.label(:name, class: 'form-label') %>*
    <%= form.text_field(:name, class: 'form-control', required: true) %>
  </div>
  <div class="mb-3">
    <%= form.label(:format, class: 'form-label') %>
    <%= form.select(:format, Event::SUPPORTED_FORMATS, {}, class: 'form-select') %>
  </div>
  <div class="mb-3">
    <%= form.label(:description, class: 'form-label') %>
    <%= form.text_area(:description, class: 'form-control') %>
  </div>
  <div class="mb-3">
    <%= form.label(:location, class: 'form-label') %>
    <%= form.text_field(:location, class: 'form-control', placeholder: 'e.g. Everfree Northwest 2024') %>
  </div>
  <div class="mb-3">
    <%= form.label(:starts_on, class: 'form-label') %>
    <%= form.date_field(:starts_on, class: 'form-control') %>
  </div>
  <div class="mb-3">
    <%= form.label(:ends_on, class: 'form-label') %>
    <%= form.date_field(:ends_on, class: 'form-control') %>
  </div>
  <div class="mb-3">
    <%= form.submit(class: 'btn btn-primary') %>
  </div>
<% end %>
