<%= form_with(model: @event) do |form| %>
  <div class="mb-3">
    <%= form.label(:name, class: 'form-label') %>*
    <%= form.text_field(:name, class: 'form-control', required: true) %>
  </div>
  <div class="mb-3">
    <%= form.label(:discord_guild_id, class: 'form-label') %>*
    <%= form.collection_select(:discord_guild_id, guilds, :id, :label, {}, class: 'form-select', disabled: guilds.none?, readonly: @event.persisted?, required: true) %>
    <span class="form-text">This is the Discord server to which the event and its notifications will be posted.</span>
    <% if guilds.none? %>
      <div class="alert alert-warning mt-1">
        <strong class="alert-heading">No servers found.</strong>
        Aloe must be installed into a Discord server before events can be created.<br/>
        Once you have added Aloe to your server, an administrator must run <code>/install</code> to complete the installation.<br/>
        This will also configure the channel to which events and notifications will be posted.
      </div>
    <% end %>
  </div>
  <div class="mb-3">
    <div class="form-check form-switch">
      <%= form.check_box(:enforce_guild_membership, class: 'form-check-input', role: 'switch', disabled: guilds.none?) %>
      <%= form.label(:enforce_guild_membership, class: 'form-check-label') %>
    </div>
    <span class="form-text">
      When enabled, only members of the Discord server are be able to register for the event.
    </span>
  </div>
  <div class="mb-3">
    <%= form.label(:format, class: 'form-label') %>
    <%= form.select(:format, Event::SUPPORTED_FORMATS, {}, class: 'form-select') %>
  </div>
  <div class="mb-3">
    <%= form.label(:description, class: 'form-label') %>
    <%= form.text_area(:description, class: 'form-control') %>
  </div>
  <div class="mb-3">
    <%= form.label(:location, class: 'form-label') %>
    <%= form.text_field(:location, class: 'form-control', placeholder: "e.g. Everfree Northwest #{Date.current.next_year.year} or Online") %>
  </div>
  <div class="mb-3">
    <%= form.label(:time_zone, class: 'form-label') %>*
    <%= form.time_zone_select(:time_zone, nil, {}, class: 'form-select', required: true) %>
  </div>
  <div class="row mb-3">
    <div class="col">
      <%= form.label(:starts_at, class: 'form-label') %>*
      <%= form.datetime_field(:starts_at, class: 'form-control', required: true) %>
    </div>
    <div class="col">
      <%= form.label(:ends_at, class: 'form-label') %>*
      <%= form.datetime_field(:ends_at, class: 'form-control', required: true) %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <%= form.label(:registration_opens_at, class: 'form-label') %>
      <%= form.datetime_field(:registration_opens_at, class: 'form-control') %>
      <span class="form-text">
        If not specified, registration will open as soon as the event is created.
      </span>
    </div>
    <div class="col">
      <%= form.label(:registration_closes_at, class: 'form-label') %>
      <%= form.datetime_field(:registration_closes_at, class: 'form-control') %>
      <span class="form-text">
        If not specified, registration will close once the event starts.
      </span>
    </div>
  </div>
  <%= form.fields_for(:role_config) do |role_config_form| %>
    <div class="mb-3">
      <%= role_config_form.label(:name, class: 'form-label') %>
      <%= role_config_form.text_field(:name, class: 'form-control') %>
    </div>
  <% end %>
  <div class="mb-3">
    <%= form.submit(class: 'btn btn-primary') %>
  </div>
<% end %>
