<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Aloe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render NavbarComponent.new(current_user:, current_organization: @organization) %>
    <div class="container">
      <% if (alert = flash.alert).present? %>
        <%= alert(variant: 'danger', class: 'mt-4', dismissible: true) do %>
          <%= alert %>
        <% end %>
      <% end %>
      <% if (notice = flash.notice).present? %>
        <%= alert(variant: 'success', class: 'mt-4', dismissible: true) do %>
          <%= notice %>
        <% end %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
